html,


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





//Seminars Container


@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

// margins
$paddingH: 60px;

// colours
$purple: #2d173d;
$blue: #294b79;
$red: #d20707;
$white: #fff;
$black: #000;
$grey: #cacaca;



// imaginary screen
.layout {
	
	background: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Sen, Open Sans, sans-serif;
	color: white;
	padding: 0;
	margin: 0;
	//padding-top: 56%;
	//border: 5px dotted red;
	
	}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

.screenSeminars {
	width: 1080px; // will be 100vw in final application
	height: 1920px; // will be 100vh in final application
	aspect-ratio: 19/6;
	//margin: 80px 0; // delete in final application
	//padding-top: 177%;
	
}

.dateSeminars {
	height: 5%;
	font-size: 2rem;
	background-color: $purple;
	display: flex;
	align-items: center;
	padding-left: $paddingH;
}

.headerSeminars {
	height: 15%;
	background: $blue;
	padding: 0 $paddingH 0 $paddingH;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	//border: 2px dashed black;
	&__flexLeftHeader{
		//border: 8px dashed rgb(255, 0, 0);
		width: 72.5%;
		&__grid {
			/* display: grid;
			grid-auto-rows: auto;
			grid-auto-columns: 72.5% 27.5%; */
			&__h1 {
			/* 	grid-row: 1 / 2;
				grid-column: 1 / 2; */
				font-size: 4rem;
				
			}
			&__h2 {
				/* grid-row: 2 / 3;
				grid-column: 1 / 2; */
				font-size: 2.5rem;
			}

	}

	}
	&__flexRightHeader{
		//border: 8px dashed rgb(9, 226, 38);
		width: 27.5%;
		align-self: flex-end;
		position: relative;
		top: -10%;
		&__img {
			/* grid-area: sidebar; */
			width: 100%;
			height: 100%;
			object-fit: cover;
			/* grid-row: 1 / 3;
			grid-column: 2 / 3; */
			aspect-ratio: 16 / 9;
		}
		&__p {
			/* grid-row: 3 / 4;
			grid-column: 2 / 3; */
			/* justify-self: end; */
			margin-top: 10px;
			font-size: 1.25rem;
		}
	}
		
	
}

.mainSeminars {
	//border: 5px dashed blue;
	color: $black;
	overflow: auto;
	height: 65%;
	background: $blue;
	display: grid;
	grid-auto-rows: 20%;//240px;
	grid-row-gap: 10px;
	width: 100%;
	//grid-auto-columns: 70% 30%;
	justify-content: center;
	&__item {
		

		border-radius: 5px;
		//list-style: none;
		background-color: $white;
		padding: 0 $paddingH 0 $paddingH;
		//display: flex;
		//justify-content: center;
		//align-items: center;
		position: relative;
		right: 1.5%;
		display: grid;
		grid-template-columns: 70% 30%;

/* 		grid-auto-rows: auto;
		grid-row-gap: 10px;
		grid-auto-columns: 50% 30%; */
		//grid-column-gap: 40px;
		//width: 100%;
		//Get full width of row
/* 		width: 103%; 
		 */
		
		 &__gridRight {
			 //grid-column: 3/3;
			 //grid-area:right;
			
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			 &__time {
				/* grid-row: 1 / 3;
				grid-column: 3 / 3; */
				font-size: 2rem;
				max-width: 200px;
				padding-left: 40px;
				font-weight: 700;
				
				
				position: relative;
				right: 1.5%;
				
				
			}
			&__notify {
				/* grid-row: 3 / 4;
				grid-column: 2 / 3; */
				position: relative;
				left: 5%;
				color: $red;
				font-size: 2rem;
				padding-left: 40px;
				font-weight: 700;
				
	}	 
}
		
		 &__gridLeft {
			 
			 //grid-area: left;
			 border-right: solid $grey 2px;
			 display: flex;
			 justify-content: center;
			 //align-items: center;
			 flex-direction: column;
			/* display: grid;
			grid-auto-rows: auto;
			grid-row-gap: 10px;
			grid-auto-columns: 70% 30%;
			grid-column-gap: 40px; */
			//grid-column: 1/4;
			
			
			&__h1 {
				/* grid-row: 1 / 2;
				grid-column: 1 / 3; */
				//border: solid $grey 2px;;
				padding-bottom: 10px;
				padding-right: 40px;
				
				//width: 100%;
			
			}
			&__h2 {
				/* grid-row: 2 / 3;
				grid-column: 1 / 2; */
				
				padding-bottom: 10px;
				padding-right: 40px;
				font-weight: 500;
				//width: 180%;
				
			}
			&__description {
				
				/* grid-row: 3 / 4;
				grid-column: 1 / 2; */
				font-size: 1.25rem;
				
				padding-right: 40px;
				font-weight: 400;
				white-space: pre-wrap;
				//width: 180%;
			}
			
				
			}
		
	
}
}
.parpadea {
	animation-name: parpadeo;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  
	-webkit-animation-name:parpadeo;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(235, 46, 40),
    0 0 82px rgb(235, 46, 40),
    0 0 92px rgb(235, 46, 40),
    //0 0 102px rgb(235, 46, 40),
   

  }
  
  @-moz-keyframes parpadeo{
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
  }






.footerSeminars {
	height: 15%;
	background: $purple;
	padding: 0 $paddingH 0 $paddingH;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	//border: 2px dashed black;
	position: relative;
	top:-0.9%;
	&__grid {
		
		
		width: 72.5%;

		&__h1 {
		
			font-size: 4rem;
		}
		&__h2 {
	
			font-size: 2.5rem;
		}
		
	}
	&__flexIMG{
		//border: 5px dashed red;	
		width: 27.5%;
		align-self: center;
	
		&__img
		{
			//border:5px dotted red;
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 16 / 9;

		}
	}
}



.ads{

		



// imaginary screen
&__adsbody {
	background: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Sen, Open Sans, sans-serif;
	color: white;
}



&__screen {
	width: 1080px; // will be 100vw in final application
	height: 1920px; // will be 100vh in final application
	margin: 80px 0; // delete in final application
}

&__date {
	height: 5%;
	font-size: 2rem;
	background-color: $purple;
	display: flex;
	align-items: center;
	padding-left: $paddingH;
}

&__header {
	height: 15%;
	background: $blue;
	padding: 0 $paddingH 0 $paddingH;
	display: flex;
	justify-content: center;
	align-items: center;
	&__grid {
		display: grid;
		grid-auto-rows: auto;
		grid-auto-columns: 72.5% 27.5%;
		&__h1 {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			font-size: 4rem;
		}
		&__h2 {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			font-size: 2.5rem;
		}
		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			grid-row: 1 / 3;
			grid-column: 2 / 3;
			aspect-ratio: 16 / 9;
		}
		&__p {
			
			grid-row: 3 / 4;
			grid-column: 2 / 3;
			justify-self: end;
			margin-top: 10px;
			font-size: 1.25rem;
		}
	}
}



&__footer {
	height: 15%;
	background: $purple;
	padding: 0 $paddingH 0 $paddingH;
	display: flex;
	justify-content: center;
	align-items: center;
	&__grid {
		display: grid;
		grid-auto-rows: auto;
		grid-auto-columns: 72.5% 27.5%;
		&__h1 {
			grid-row: 1 / 2;
			grid-column: 1 / 2;
			font-size: 4rem;
		}
		&__h2 {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			font-size: 2.5rem;
		}
		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			grid-row: 1 / 3;
			grid-column: 2 / 3;
			aspect-ratio: 16 / 9;
		}
	}
}


	
}


.video{
	width: 100%;
	height: 55%;
	object-fit: cover;
}
.videoFullScreen{
	
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.adsConainer__main {
	position: relative;
	//top: 1%;
	color: $black;
	overflow: auto;
	height: 65.5%;
	background: $blue;
	//border: 1px solid rgb(255, 0, 0);

	&__img {
		width: 100%;
		height: 55%;
		object-fit: cover;
	}
	&__info {
		background-color: $white;
		padding: $paddingH;
		&__h1,
		&__h2,
		&__p {
			margin-bottom: 20px;
		}
	}
}


.adsFullScreen{

	
	
		background: lightgrey;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Sen, Open Sans, sans-serif;
		color: white;
	

	
	
	
	&__screen {
		width: 1080px; // will be 100vw in final application
		height: 1920px; // will be 100vh in final application
		margin: 80px 0; // delete in final application
	}
	
	&__date {
		height: 5%;
		font-size: 2rem;
		background-color: $purple;
		display: flex;
		align-items: center;
		padding-left: $paddingH;
	}
	

	&__footer {
		height: 15%;
		background: $purple;
		padding: 0 $paddingH 0 $paddingH;
		display: flex;
		justify-content: center;
		align-items: center;
		&__grid {
			display: grid;
			grid-auto-rows: auto;
			grid-auto-columns: 72.5% 27.5%;
			&__h1 {
				grid-row: 1 / 2;
				grid-column: 1 / 2;
				font-size: 4rem;
			}
			&__h2 {
				grid-row: 2 / 3;
				grid-column: 1 / 2;
				font-size: 2.5rem;
			}
			&__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				grid-row: 1 / 3;
				grid-column: 2 / 3;
				aspect-ratio: 16 / 9;
			}
		}
	}
	

}


.adsFullScreen__main{
	color: $black;
	height: 80%;
	background: $blue;
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}





// .slider {
//     position: relative;
//     height: 80vh;
// }

// .slide {
//     position: absolute;
//     //top: 50vh;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     display: inline-block;
//     justify-content: center;
//     align-items: center;
//     opacity: 0;
//     transition: 3.3s ease;
// }



// .active {
//     opacity: 1;
//     transition-duration: 3.2s;
// }



// -----------------------------------------------22-01



/* Slideshow */

 .slideshow {
 	margin: 0 auto;
 	overflow: hidden;
 	max-width: auto;
   }
  
   .slideshowSlider {
 	white-space: nowrap;
 	transition: ease 1000ms;
   }
  
   .slide {
	display: inline-block;
  
	height: auto;
	width: 100%;
	border-radius: 40px;
  }
  
  /* Buttons */
  
  .slideshowDots {
	text-align: center;
  }
  
  .slideshowDot {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
  
	cursor: pointer;
	margin: 15px 7px 0px;
  
	background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
	background-color: #6a0dad;
  }

  @media (width: 1080px) and (height: 1920px) {
  
	.screenSeminars {
		width: 100vw; // will be 100vw in final application
		height: 100vh; // will be 100vh in final application
		aspect-ratio: 19/6;
		//background-color: #d20707;
		//border: 5px solid blue;
		//margin: 80px 0; // delete in final application
		//padding-top: 177%;
		
	}

	.layout {
	
		//background: lightgrey;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Sen, Open Sans, sans-serif;
		color: white;
		padding: 0;
		margin: 0;
		//padding-top: 56%;
		//border: 5px dotted red;
		
		}
}